/*utilities*/
/*base*/
@import url("https://fonts.googleapis.com/css2?family=Playwrite+NG+Modern:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@font-face {
  font-family: capitan;
  src: url(../assets/fonts/american-captain.ttf); }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

a {
  color: #ECF0F1;
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

.body {
  background-color: black;
  color: #ECF0F1;
  font-family: "Poppins", sans-serif; }

/*layout*/
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
  padding: 15px;
  border-radius: 16px;
  background-color: #141414; }

.main {
  margin: 10px;
  background-color: #141414;
  padding: 15px;
  border-radius: 16px; }

.footerr {
  padding: 15px;
  margin: 10px;
  border-radius: 16px; }

/*components*/
.informacion {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  gap: 20px; }
  .informacion div p {
    margin-bottom: 20px; }

.reproductor {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  gap: 20px; }

.repro-info {
  display: flex;
  gap: 10px; }

.reproductor-imagen {
  width: 60px;
  height: 60px; }
  .reproductor-imagen img {
    height: 100%;
    width: 100%;
    object-fit: contain; }

.reproductor-info h3 {
  font-size: 18px;
  font-weight: 400; }

.reproductor-info p {
  font-size: 14px;
  font-weight: 200; }

.controles, .controles-extra {
  gap: 14px;
  display: flex;
  align-items: center; }

.menu {
  display: none; }

.shuffle, .repeat {
  font-size: 20px; }

.previous, .next {
  font-size: 24px; }

.play {
  font-size: 26px; }

.lyrics, .queue, .device {
  font-size: 18px; }

.volume {
  font-size: 16px; }

.control-btn, .extra-btn {
  background: none;
  border: none;
  color: #b3b3b3;
  margin: 0 5px;
  cursor: pointer; }
  .control-btn:hover, .extra-btn:hover {
    filter: drop-shadow(0 0 1rem crimson); }

.logo {
  display: flex;
  flex-direction: row-reverse;
  gap: 20px;
  align-items: center; }
  .logo h1 {
    font-family: capitan;
    font-size: 50px;
    margin: 8px; }
  .logo a {
    width: 60px;
    height: 60px; }
    .logo a img {
      width: 100%;
      height: 100%;
      object-fit: contain; }

.navbar {
  padding-right: 8px; }
  .navbar ul {
    display: flex;
    gap: 20px; }
    .navbar ul li {
      list-style: none; }

.buscador input {
  background-color: #333;
  color: #ddd;
  padding: 10px 20px;
  border-radius: 20px;
  font-size: 16px;
  border: none; }

.buscador::before {
  content: "BS";
  margin-right: 10px; }

.estrenos {
  padding: 16px; }
  .estrenos h2 {
    font-size: 28px; }

.contenedor-estrenos {
  margin: 10px;
  display: flex;
  justify-content: space-between; }

.estreno {
  padding: 16px;
  border-radius: 16px;
  height: 395px;
  width: auto; }
  .estreno h3 {
    font-size: 22px; }
  .estreno:hover {
    background-color: rgba(255, 255, 255, 0.109); }

.estreno-img img {
  border-radius: 16px; }

.estreno-inf {
  padding-top: 10px; }

.seccion-canciones {
  padding: 16px; }
  .seccion-canciones h2 {
    font-size: 28px; }

.contenedor-canciones {
  margin: 10px;
  display: flex;
  justify-content: space-between;
  gap: 16px; }

.cancion {
  width: 200px;
  height: 280px;
  padding: 16px; }
  .cancion:hover {
    background-color: rgba(255, 255, 255, 0.109);
    border-radius: 16px; }

.cancion-imagen {
  width: 100%;
  height: 60%; }
  .cancion-imagen a img {
    width: 100%;
    height: 100%;
    border-radius: 16px;
    object-fit: contain; }

.cancion-info {
  padding-top: 6px; }
  .cancion-info h4 {
    font-size: 20px;
    font-weight: 400;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    line-clamp: 2; }
  .cancion-info p {
    font-size: 16px;
    font-weight: 200;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    line-clamp: 2; }

.usuarios div {
  display: flex;
  font-size: 30px;
  gap: 18px;
  align-items: center;
  padding: 10px; }
  .usuarios div img {
    width: 200px;
    height: 200px;
    border-radius: 20px;
    object-fit: contain; }

/*media
desktop -> mobile: decreciente.
mobile -> desktop: creciente.
*/
@media (max-width: 1154px) {
  .logo {
    gap: 10px; }
    .logo h1 {
      font-family: capitan;
      font-size: 45px; }
  .navbar ul {
    gap: 10px; }
  .buscador input {
    font-size: 14px; } }

@media (max-width: 1086px) {
  .cancion-6, .c-album-6 {
    display: none; }
  .estreno {
    width: auto;
    height: 350px; }
  .estreno-img {
    width: 100%;
    height: 80%;
    border-radius: 16px; }
    .estreno-img img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      border-radius: 16px; }
  .buscador input {
    padding: 6px 10px;
    font-size: 14px; }
  .buscador::before {
    display: none; }
  .reproductor-info h3 {
    font-size: 15px; }
  .reproductor-info p {
    font-size: 12px; } }

@media (max-width: 986px) {
  .logo {
    gap: 10px; }
    .logo h1 {
      font-family: capitan;
      font-size: 40px; }
  .navbar ul {
    gap: 10px;
    font-size: 14px; }
  .buscador input {
    font-size: 12px; }
  .cancion-5, .c-album-5 {
    display: none; }
  .reproductor-info h3 {
    width: 250px;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    line-clamp: 1;
    overflow: hidden;
    font-size: 15px; }
  .reproductor-info p {
    width: 250px;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    line-clamp: 1;
    overflow: hidden;
    font-size: 12px; } }

@media (max-width: 933px) {
  .estreno {
    height: 320px; } }

@media (max-width: 880px) {
  .logo {
    gap: 10px; }
    .logo h1 {
      font-family: capitan;
      font-size: 35px; }
  .navbar ul {
    gap: 10px;
    font-size: 14px; }
  .buscador input {
    font-size: 10px; }
  .estreno {
    height: 330px; }
  .estreno-inf h3 {
    font-size: 20px; }
  .estreno-inf p {
    font-size: 14px; }
  .controles-extra {
    font-size: 14px; } }

@media (max-width: 830px) {
  .navbar ul {
    gap: 9px;
    font-size: 13px; }
  .estreno {
    height: 310.672px; } }

@media (max-width: 788px) {
  .logo {
    gap: 10px; }
    .logo h1 {
      font-family: capitan;
      font-size: 28px; }
    .logo a {
      width: 45px;
      height: 45px; }
  .navbar ul {
    gap: 10px;
    font-size: 12px; }
  .controles, .controles-extra {
    gap: 8px; } }

@media (max-width: 750px) {
  .estreno-inf h3 {
    font-size: 20px; }
  .cancion-4, .c-album-4 {
    display: none; }
  .cancion-info h4 {
    font-size: 18px; }
  .cancion-info p {
    font-size: 14px; }
  .informacion {
    font-size: 14px; }
  .shuffle, .repeat {
    font-size: 18px; }
  .previous, .next {
    font-size: 22px; }
  .play {
    font-size: 24px; }
  .lyrics, .queue, .device {
    font-size: 16px; }
  .volume {
    font-size: 14px; } }

@media (max-width: 724px) {
  .logo {
    gap: 10px; }
    .logo h1 {
      font-family: capitan;
      font-size: 26px; }
    .logo a {
      width: 40px;
      height: 40px; }
  .navbar ul {
    gap: 8px;
    font-size: 12px; }
  .buscador {
    display: none; }
  .estreno {
    width: 200px;
    height: 280px; }
  .estreno-img {
    width: 100%;
    height: 60%;
    border-radius: 16px; }
    .estreno-img img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      border-radius: 16px; }
  .estreno-inf h3 {
    font-size: 18px; }
  .controles, .controles-extra {
    gap: 4px; } }

@media (max-width: 690px) {
  .reproductor-info h3 {
    width: 100px;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    line-clamp: 1;
    overflow: hidden;
    font-size: 15px; }
  .reproductor-info p {
    width: 100px;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    line-clamp: 1;
    overflow: hidden;
    font-size: 12px; } }

@media (max-width: 584px) {
  .logo {
    gap: 8px; }
    .logo h1 {
      font-family: capitan;
      font-size: 24px; }
    .logo a {
      width: 35px;
      height: 35px; }
  .navbar ul {
    padding-left: 4px;
    gap: 8px;
    font-size: 12px; }
  .estrenos h2 {
    font-size: 22px; }
  .seccion-canciones h3 {
    font-size: 22px; }
  .derechos {
    display: inline-flex; } }

@media (max-width: 542px) {
  .logo {
    gap: 8px; }
    .logo h1 {
      font-family: capitan;
      font-size: 22px; }
    .logo a {
      width: 30px;
      height: 30px; }
  .navbar ul {
    padding-left: 4px;
    gap: 8px;
    font-size: 12px; }
  .controles {
    padding-right: 40px; }
  .menu {
    display: block;
    font-size: 16px; }
  /* .controles-extra{
        padding-right: 40px;
    } */
  .lyrics, .queue, .device, .volume {
    display: none; } }
