/*utilities*/
/*base*/
@import url("https://fonts.googleapis.com/css2?family=Playwrite+NG+Modern:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@font-face {
  font-family: capitan;
  src: url(../assets/fonts/american-captain.ttf); }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.body {
  background-color: black;
  color: #ECF0F1;
  font-family: "Poppins", sans-serif; }

a {
  color: #ECF0F1;
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

h2 {
  text-transform: uppercase;
  font-weight: 600; }

.buscar {
  display: none; }

/*layout*/
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
  padding: 15px;
  border-radius: 16px;
  background-color: #141414; }

/* .header {
    display: grid;
    grid-template: repeat(1, 1fr)/ repeat(3, 270px 500px 270px);
    align-items: center;
    margin: 10px;
    padding: 15px;
    border-radius: 16px;
    background-color: $colorPr;
} */
.main {
  margin: 10px;
  background-color: #141414;
  padding: 15px;
  border-radius: 16px; }

.footerr {
  padding: 15px;
  margin: 10px;
  border-radius: 16px; }

/*components*/
.informacion {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  gap: 20px; }
  .informacion div p {
    margin-bottom: 20px; }

.reproductor {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  gap: 20px; }

.repro-info {
  display: flex;
  gap: 10px; }

.reproductor-imagen {
  width: 60px;
  height: 60px; }
  .reproductor-imagen img {
    height: 100%;
    width: 100%;
    object-fit: contain; }

.reproductor-info h3 {
  font-size: 18px;
  font-weight: 400; }

.reproductor-info p {
  font-size: 14px;
  font-weight: 200; }

.controles, .controles-extra {
  gap: 14px;
  display: flex;
  align-items: center; }

.menu {
  display: none; }

.shuffle, .repeat {
  font-size: 20px; }

.previous, .next {
  font-size: 24px; }

.play {
  font-size: 26px; }

.lyrics, .queue, .device {
  font-size: 18px; }

.volume {
  font-size: 16px; }

.control-btn, .extra-btn {
  background: none;
  border: none;
  color: #b3b3b3;
  margin: 0 5px;
  cursor: pointer; }
  .control-btn:hover, .extra-btn:hover {
    filter: drop-shadow(0 0 1rem crimson); }

.logo {
  display: flex;
  flex-direction: row-reverse;
  gap: 20px;
  align-items: center; }
  .logo h1 {
    font-family: capitan;
    font-size: 50px;
    margin: 8px; }
  .logo a {
    width: 60px;
    height: 60px; }
    .logo a img {
      width: 100%;
      height: 100%;
      object-fit: contain; }

.navbar {
  padding-right: 8px; }
  .navbar ul {
    display: flex;
    gap: 20px; }
    .navbar ul li {
      list-style: none; }

.buscador input {
  background-color: #333;
  color: #ddd;
  padding: 10px 20px;
  border-radius: 20px;
  font-size: 16px;
  border: none; }

.buscador::before {
  content: "BS";
  margin-right: 10px; }

.estrenos {
  padding: 16px; }
  .estrenos h2 {
    font-size: 28px; }

.contenedor-estrenos {
  margin: 10px;
  display: flex;
  justify-content: space-between; }

.estreno {
  padding: 16px;
  border-radius: 16px;
  height: 395px;
  width: auto; }
  .estreno:hover {
    background-color: rgba(255, 255, 255, 0.109);
    transform: scale(1.02);
    transition: transform 0.1s linear; }
  .estreno a {
    text-decoration: none; }

.estreno-img img {
  border-radius: 16px; }

.estreno-inf {
  padding-top: 10px; }
  .estreno-inf h3 {
    font-size: 22px;
    font-weight: 400; }
  .estreno-inf p {
    font-weight: 200; }

.seccion-canciones {
  padding: 16px; }
  .seccion-canciones h2 {
    font-size: 28px; }

.contenedor-canciones {
  margin: 10px;
  display: grid;
  grid-template-columns: repeat(6, 200px);
  justify-content: space-between;
  gap: 16px; }

.cancion {
  width: 200px;
  height: 280px;
  padding: 16px; }
  .cancion:hover {
    transform: scale(1.03);
    transition: transform 0.1s linear;
    background-color: rgba(255, 255, 255, 0.109);
    border-radius: 16px; }

.cancion-imagen {
  width: 100%;
  height: 60%; }
  .cancion-imagen a img {
    width: 100%;
    height: 100%;
    border-radius: 16px;
    object-fit: contain; }

.cancion-info {
  padding-top: 6px; }
  .cancion-info h4 {
    font-size: 20px;
    font-weight: 400;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    line-clamp: 2; }
  .cancion-info p {
    font-size: 16px;
    font-weight: 200;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    line-clamp: 2; }

.sec-articulos {
  margin: 8px;
  padding: 8px; }

.articulo {
  margin: 8px;
  padding: 8px; }
  .articulo p {
    font-weight: 300; }

.usuarios div {
  display: flex;
  font-size: 26px;
  gap: 18px;
  align-items: center;
  padding: 10px; }
  .usuarios div img {
    width: 200px;
    height: 200px;
    border-radius: 20px;
    object-fit: contain; }
  .usuarios div p {
    font-weight: 300; }

/*media
desktop -> mobile: decreciente.
mobile -> desktop: creciente.
*/
@media (max-width: 1382px) {
  .contenedor-canciones {
    grid-template-columns: repeat(5, 225px); }
  .cancion-6, .c-album-6 {
    display: none; }
  .cancion {
    width: 225px;
    height: 305px; } }

@media (max-width: 1292px) {
  .contenedor-canciones {
    grid-template-columns: repeat(5, 200px); }
  .cancion {
    width: 200px;
    height: 280px; } }

@media (max-width: 1166px) {
  .contenedor-canciones {
    grid-template-columns: repeat(5, 180px); }
  .cancion {
    width: 180px;
    height: 260px; }
  /* .cancion-imagen {
        height: 60%;
    } */
  .cancion-info {
    padding-top: 6px; }
    .cancion-info h4 {
      font-size: 18px; }
    .cancion-info p {
      font-size: 14px; } }

@media (max-width: 1154px) {
  .logo {
    gap: 10px; }
    .logo h1 {
      font-family: capitan;
      font-size: 45px; }
  .navbar ul {
    gap: 10px; }
  .buscador input {
    font-size: 14px; } }

@media (max-width: 1082px) {
  .estreno {
    width: auto;
    height: 350px; }
  .estreno-img {
    width: 100%;
    height: 80%;
    border-radius: 16px; }
    .estreno-img img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      border-radius: 16px; }
  .buscador input {
    padding: 6px 10px;
    font-size: 14px; }
  .buscador::before {
    display: none; }
  .reproductor-info h3 {
    font-size: 15px; }
  .reproductor-info p {
    font-size: 12px; }
  .contenedor-canciones {
    grid-template-columns: repeat(5, 170px); }
  .cancion {
    width: 170px;
    height: 250px; }
  /* .cancion-imagen {
        height: 60%;
    } */ }

@media (max-width: 1016px) {
  .contenedor-canciones {
    grid-template-columns: repeat(5, 160px); }
  .cancion {
    width: 160px;
    height: 240px; }
  .cancion-info {
    padding-top: 6px; }
    .cancion-info h4 {
      font-size: 17px; }
    .cancion-info p {
      font-size: 13px; } }

@media (max-width: 986px) {
  .logo {
    gap: 10px; }
    .logo h1 {
      font-family: capitan;
      font-size: 40px; }
  .navbar ul {
    gap: 10px;
    font-size: 14px; }
  .buscador input {
    font-size: 12px; }
  .reproductor-info h3 {
    width: 250px;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    line-clamp: 1;
    overflow: hidden;
    font-size: 15px; }
  .reproductor-info p {
    width: 250px;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    line-clamp: 1;
    overflow: hidden;
    font-size: 12px; } }

@media (max-width: 966px) {
  .contenedor-canciones {
    grid-template-columns: repeat(4, 200px); }
  .cancion {
    width: 200px;
    height: 280px; }
  .cancion-5, .c-album-5 {
    display: none; }
  .cancion-info {
    padding-top: 6px; }
    .cancion-info h4 {
      font-size: 18px; }
    .cancion-info p {
      font-size: 14px; } }

@media (max-width: 950px) {
  .contenedor-canciones {
    grid-template-columns: repeat(4, 190px); }
  .cancion {
    width: 190px;
    height: 270px; } }

@media (max-width: 933px) {
  .estreno {
    height: 320px; } }

@media (max-width: 910px) {
  .contenedor-canciones {
    grid-template-columns: repeat(4, 180px); }
  .cancion {
    width: 180px;
    height: 260px; } }

@media (max-width: 880px) {
  .logo {
    gap: 10px; }
    .logo h1 {
      font-family: capitan;
      font-size: 35px; }
  .navbar ul {
    gap: 10px;
    font-size: 14px; }
  .buscador input {
    font-size: 10px; }
  .estreno {
    height: 330px; }
  .estreno-inf h3 {
    font-size: 20px; }
  .estreno-inf p {
    font-size: 14px; }
  .controles-extra {
    font-size: 14px; } }

@media (max-width: 870px) {
  .contenedor-canciones {
    grid-template-columns: repeat(4, 170px); }
  .cancion {
    width: 170px;
    height: 250px; }
  .cancion-info {
    padding-top: 6px; }
    .cancion-info h4 {
      font-size: 17px; }
    .cancion-info p {
      font-size: 13px; } }

@media (max-width: 830px) {
  .navbar ul {
    gap: 9px;
    font-size: 13px; }
  .estreno {
    height: 310.672px; }
  .contenedor-canciones {
    grid-template-columns: repeat(4, 160px); }
  .cancion {
    width: 160px;
    height: 240px; } }

@media (max-width: 790px) {
  .logo {
    gap: 10px; }
    .logo h1 {
      font-family: capitan;
      font-size: 28px; }
    .logo a {
      width: 45px;
      height: 45px; }
  .navbar ul {
    gap: 10px;
    font-size: 12px; }
  .estrenos h2, .seccion-canciones h2 {
    font-size: 24px; }
  .controles, .controles-extra {
    gap: 8px; }
  .contenedor-canciones {
    grid-template-columns: repeat(4, 150px); }
  .cancion {
    width: 150px;
    height: 230px; } }

@media (max-width: 750px) {
  .estreno-inf h3 {
    font-size: 20px; }
  .contenedor-canciones {
    grid-template-columns: repeat(3, 190px);
    grid-template-rows: repeat(2, 270px); }
  .cancion {
    width: 190px;
    height: 270px; }
  .cancion-6, .cancion-5, .c-album-6, .c-album-5 {
    display: block; }
  .cancion-info h4 {
    font-size: 18px; }
  .cancion-info p {
    font-size: 14px; }
  .usuarios div {
    font-size: 22px; }
  .informacion {
    font-size: 14px; }
  .shuffle, .repeat {
    font-size: 18px; }
  .previous, .next {
    font-size: 22px; }
  .play {
    font-size: 24px; }
  .lyrics, .queue, .device {
    font-size: 16px; }
  .volume {
    font-size: 14px; } }

@media (max-width: 724px) {
  .navbar {
    padding: 0;
    margin: 4px; }
    .navbar ul {
      display: grid;
      grid-template-columns: repeat(3, auto);
      grid-template-rows: repeat(2, auto);
      gap: 10px;
      font-size: 14px; }
  .estreno {
    width: 200px;
    height: 280px; }
  .estreno-img {
    width: 100%;
    height: 60%;
    border-radius: 16px; }
    .estreno-img img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      border-radius: 16px; }
  .estreno-inf h3 {
    font-size: 18px; }
  .controles, .controles-extra {
    gap: 4px; } }

@media (max-width: 705px) {
  .navbar ul {
    display: flex; }
  .buscador {
    display: none; }
  .buscar {
    display: block;
    background: none;
    border: none;
    color: white; }
  .contenedor-canciones {
    grid-template-columns: repeat(3, 180px);
    grid-template-rows: repeat(2, 260px); }
  .cancion {
    width: 180px;
    height: 260px; }
  .cancion-info h4 {
    font-size: 17px;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    line-clamp: 1; }
  .cancion-info p {
    font-size: 13px; }
  .informacion div p {
    font-size: 13px; } }

@media (max-width: 690px) {
  .reproductor-info h3 {
    width: 60px;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    line-clamp: 1;
    overflow: hidden;
    font-size: 15px; }
  .reproductor-info p {
    width: 60px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    line-clamp: 2;
    overflow: hidden;
    font-size: 12px; } }

@media (max-width: 675px) {
  .estreno {
    height: auto;
    width: 300px; }
  .estreno-img {
    height: 80%; }
  .estreno3 {
    display: none; }
  .contenedor-canciones {
    grid-template-columns: repeat(3, 170px);
    grid-template-rows: repeat(2, 250px); }
  .cancion {
    width: 170px;
    height: 250px; } }

@media (max-width: 645px) {
  .navbar ul {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(2, auto); }
  .buscar {
    font-size: 16px; }
  .contenedor-canciones {
    grid-template-columns: repeat(3, 160px);
    grid-template-rows: repeat(2, 240px); }
  .cancion {
    width: 160px;
    height: 240px; } }

@media (max-width: 615px) {
  .contenedor-canciones {
    grid-template-columns: repeat(3, 150px);
    grid-template-rows: repeat(2, 230px); }
  .cancion {
    width: 150px;
    height: 230px; }
  .usuarios div {
    font-size: 18px; }
    .usuarios div img {
      width: 150px;
      height: 150px;
      border-radius: 20px;
      object-fit: contain; } }

@media (max-width: 585px) {
  .navbar ul {
    padding-left: 4px;
    gap: 8px;
    font-size: 12px; }
  .contenedor-canciones {
    grid-template-columns: repeat(3, 140px);
    grid-template-rows: repeat(2, 220px); }
  .cancion {
    width: 140px;
    height: 220px; } }

@media (max-width: 555px) {
  .contenedor-canciones {
    grid-template-columns: repeat(3, 135px);
    grid-template-rows: repeat(2, 215px); }
  .cancion {
    width: 135px;
    height: 215px; }
  .cancion-info h4 {
    font-size: 15px; }
  .cancion-info p {
    font-size: 13px; }
  .usuarios div {
    font-size: 16px; } }

@media (max-width: 542px) {
  .navbar ul {
    padding-left: 4px;
    gap: 8px;
    font-size: 12px; }
  .controles {
    padding-right: 40px; }
  .menu {
    display: block;
    font-size: 16px; }
  .lyrics, .queue, .device, .volume {
    display: none; } }

@media (max-width: 515px) {
  .contenedor-canciones {
    grid-template-columns: repeat(3, 130px);
    grid-template-rows: repeat(2, 210px); }
  .cancion {
    width: 130px;
    height: 210px; }
  .cancion-info h4 {
    font-size: 14px; }
  .cancion-info p {
    font-size: 12px; } }

@media (max-width: 500px) {
  .logo {
    gap: 8px; }
    .logo h1 {
      font-family: capitan;
      font-size: 26px; }
    .logo a {
      width: 42px;
      height: 42px; } }
