.estrenos{
    padding: 16px;
    h2{
        font-size: 28px;
    }
}
.contenedor-estrenos{
    margin: 10px;
    display: flex;
    justify-content: space-between;
}
.estreno{
    padding: 16px;
    border-radius: 16px;
    height: 395px;
    width: auto;
    &:hover{
        background-color: rgba(255, 255, 255, 0.109);
        transform: scale(1.02);
        transition: transform 0.1s linear;
    }
    a{
        text-decoration: none;
    }
}
.estreno-img{
    img{
        border-radius: 16px;
    }
}
.estreno-inf{
    padding-top: 10px;
    h3{
        font-size: 22px;
        font-weight: 400;
    }
    p{
        font-weight: 200;
    }
}