* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    color: $colorLe;
    text-decoration: none;
    &:hover{
        text-decoration: underline;
    }
}

.body {
    background-color: black;
    color: $colorLe;
    font-family: "Poppins", sans-serif;
}