@media (max-width: 542px){
    .navbar {
        ul {
            padding-left: 4px;
            gap: 8px;
            font-size: 12px;
        }
    }
    .controles{
        padding-right: 40px;
    }
    .menu{
        display: block;
        font-size: 16px;
    }
    .lyrics, .queue, .device, .volume{
        display: none;
    }
}