@media (max-width: 750px){
    .estreno-inf{
        h3{
            font-size: 20px;
        }
    }
    .cancion-4, .c-album-4{
        display: none;
    }
    .cancion-info{
        h4{
            font-size: 18px;
        }
        p{
            font-size: 14px;
        }
    }
    .informacion{
        font-size: 14px;
    }
    .shuffle, .repeat{
        font-size: 18px;
    }
    .previous, .next{
        font-size: 22px;
    }
    .play{
        font-size: 24px;
    }
    .lyrics, .queue, .device{
        font-size: 16px;
    }
    .volume{
        font-size: 14px;
    }
}