@media (max-width: 1082px){
    .estreno{
        width: auto;
        height: 350px;
    }
    .estreno-img{
        width: 100%;
        height: 80%;
        border-radius: 16px;
        img{
            width: 100%;
            height: 100%;
            object-fit: contain;
            border-radius: 16px;
        }
    }
    .buscador{
        input{
            padding: 6px 10px;
            font-size: 14px;
        }
        &::before {
            display: none;
        }
    }
    .reproductor-info{
        h3{
            font-size: 15px;
        }
        p{
            font-size: 12px;
        }
    }
    .contenedor-canciones{
        grid-template-columns: repeat(5, 170px);
    }
    .cancion{
        width: 170px;
        height: 250px;
    }
    /* .cancion-imagen {
        height: 60%;
    } */
}