@media(max-width: 724px){
    .navbar {
        padding: 0;
        margin: 4px;
        ul {
            display: grid;
            grid-template-columns: repeat(3, auto);
            grid-template-rows: repeat(2, auto);
            gap: 10px;
            font-size: 14px;
        }
    }
    .estreno{
        width: 200px;
        height: 280px;
    }
    .estreno-img{
        width: 100%;
        height: 60%;
        border-radius: 16px;
        img{
            width: 100%;
            height: 100%;
            object-fit: contain;
            border-radius: 16px;
        }
    }
    .estreno-inf{
        h3{
            font-size: 18px;
        }
    }
    .controles, .controles-extra {
        gap: 4px;
    }
}