@media (max-width: 830px){
    .navbar {
        ul {
            gap: 9px;
            font-size: 13px;
        }
    }
    .estreno{
        height: 310.672px;
    }
    .contenedor-canciones{
        grid-template-columns: repeat(4, 160px);
    }
    .cancion{
        width: 160px;
        height: 240px;
    }
}