@media (max-width:675px){
    .estreno{
        height: auto;
        width: 300px;
    }
    .estreno-img{
        height: 80%;
    }
    .estreno3{
        display:none;
    }
    .contenedor-canciones{
        grid-template-columns: repeat(3, 170px);
        grid-template-rows: repeat(2, 250px);
    }
    .cancion{
        width: 170px;
        height: 250px;
    }
}