@media (max-width: 788px){
    .logo {
        gap: 10px;
        h1{
            font-family: capitan;
            font-size: 28px;
        }
        a{
            width: 45px;
            height: 45px;
        }
    }
    .navbar {
        ul {
            gap: 10px;
            font-size: 12px;
        }
    }
    .controles, .controles-extra {
        gap: 8px;
    }
}