@media (max-width:500px){
    .logo {
        gap: 8px;
        h1{
            font-family: capitan;
            font-size: 26px;
        }
        a{
            width: 42px;
            height: 42px;
        }
    }
}