@media (max-width: 750px){
    .estreno-inf{
        h3{
            font-size: 20px;
        }
    }
    .contenedor-canciones{
        grid-template-columns: repeat(3, 190px);
        grid-template-rows: repeat(2, 270px);
    }
    .cancion{
        width: 190px;
        height: 270px;
    }
    .cancion-6, .cancion-5, .c-album-6, .c-album-5{
        display: block;
    }
    .cancion-info{
        h4{
            font-size: 18px;
        }
        p{
            font-size: 14px;
        }
    }
    .usuarios{
        div{
            font-size: 22px;
        }
    }
    .informacion{
        font-size: 14px;
    }
    .shuffle, .repeat{
        font-size: 18px;
    }
    .previous, .next{
        font-size: 22px;
    }
    .play{
        font-size: 24px;
    }
    .lyrics, .queue, .device{
        font-size: 16px;
    }
    .volume{
        font-size: 14px;
    }
}