@media (max-width: 790px){
    .logo {
        gap: 10px;
        h1{
            font-family: capitan;
            font-size: 28px;
        }
        a{
            width: 45px;
            height: 45px;
        }
    }
    .navbar {
        ul {
            gap: 10px;
            font-size: 12px;
        }
    }
    .estrenos, .seccion-canciones{
        h2{
            font-size: 24px;
        }
    }
    .controles, .controles-extra {
        gap: 8px;
    }
    .contenedor-canciones{
        grid-template-columns: repeat(4, 150px);
    }
    .cancion{
        width: 150px;
        height: 230px;
    }
}